openapi: 3.0.3
info:
  title: GoStudio API (v2)
  version: "2.0.0"
  description: >
    GoStudio v2 REST API. Every response uses a standard envelope: successes
    return `{ status, data }`; errors return
    `{ status, error: { type, code, dev, message } }`.


    Endpoints declare which **caller type** they accept. `user` is a Supabase
    JWT, `internal` is a service secret, and `external` is a partner API key.
    Sending a token whose caller type is not allowed returns `403 forbidden`.

servers:
  - url: https://www.gostudio.ai
    description: Production

security:
  - bearerAuth: []

tags:
  - name: My Account
    description: Data for the authenticated user (requires a user token).
  - name: Generations
    description: Generation history for the authenticated user.
  - name: Watermark Remover
    description: AI watermark removal — orchestration, model metadata, and job polling.
  - name: Media
    description: >
      Upload media by URL or as direct file uploads.


      **Direct blob upload (large files).** The GoStudio client apps also use a
      two-step direct-to-storage flow — `POST /api/v2/blob/upload-path` followed
      by `POST /api/v2/blob/upload-token`, driven by the Vercel Blob client
      library. That flow is not yet part of the documented REST surface and is
      deliberately not covered here; over HTTP, use `POST /api/v2/me/upload`
      (multipart) or `POST /api/v2/media/upload` (by URL).
  - name: Users (Admin)
    description: >
      Per-user data addressed by user ID. Contains PII, so these accept only
      `internal` and `external` callers — never a user token.
  - name: Webhooks
    description: Endpoints called by external services, not by your application.

paths:
  /api/v2/me/profile:
    get:
      tags: [My Account]
      summary: Get my profile
      description: >
        Returns the authenticated user's profile, usage summary, transactions,
        and a derived segment. Allowed callers: `user`.
      operationId: getMyProfile
      parameters:
        - name: x-generation-logs-limit
          in: header
          required: false
          description: How many recent generation logs to include (default 50, max 500).
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        "200":
          description: Profile returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/MeProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/credit-balance:
    get:
      tags: [My Account]
      summary: Get my credit balance
      description: "Returns current credit balance and expiry. Allowed callers: `user`."
      operationId: getMyCreditBalance
      responses:
        "200":
          description: Credit balance returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/CreditBalance" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/credit-history:
    get:
      tags: [My Account]
      summary: List my credit history
      description: >
        Paginated ledger of credit transactions. Allowed callers: `user`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned — e.g. `?event=purchase_pack` (a typo for `pack_purchase`)
        returns the entire ledger with `200`.
      operationId: getMyCreditHistory
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: type
          in: query
          description: >
            Comma-separated transaction types. Accepted values: `purchase`,
            `deduction`, `debit`, `refund`.
          schema:
            type: string
            example: purchase,deduction
        - name: event
          in: query
          description: >
            Comma-separated credit event types. Accepted values: `user_signup`,
            `pack_purchase`, `addon_purchase`, `model_training`,
            `profile_training`, `image_generation`, `image_edit`,
            `free_headshot_generation`, `video_edit`, `credit_expiry`,
            `ambassador_redeem`, `ai_editor`, `ai_tools`, `ai_canvas`,
            `pack_generation`.
          schema:
            type: string
            example: pack_purchase,image_generation
      responses:
        "200":
          description: Credit history returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CreditHistoryRow" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/generations:
    get:
      tags: [My Account]
      summary: List my generations
      description: >
        Paginated generation logs. Allowed callers: `user`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getMyGenerations
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: status
          in: query
          description: >
            Comma-separated statuses. Accepted values: `pending`, `processing`,
            `completed`, `failed`, `abandoned`.
          schema:
            type: string
            example: completed,processing
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema:
            type: string
            example: image
        - name: flow_type
          in: query
          description: >
            Comma-separated flow types. Accepted values: `ai_editor`,
            `ai_canvas`, `ai_tools`, `image_generation`, `pack_generation`,
            `global`.
          schema:
            type: string
            example: ai_tools
        - name: tool_name
          in: query
          description: Comma-separated tool names.
          schema: { type: string, example: watermark_remover }
        - name: profile_id
          in: query
          description: >
            Filter by training profile. A non-numeric value — or `0` — is
            ignored and the filter is not applied.
          schema: { type: integer }
        - name: include
          in: query
          description: >
            Include related records. Comma-separated. Accepted values: `images`,
            `samples`. Only one relation is returned per request: if both are
            supplied, only `images` is returned.
          schema: { type: string, example: images }
      responses:
        "200":
          description: Generations returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Generation" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/images:
    get:
      tags: [My Account]
      summary: List my images
      description: >
        Paginated generated images. Allowed callers: `user`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getMyImages
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: is_liked
          in: query
          description: >
            Exact match on the image's liked flag. Omit for no filter; only the
            literal values `true` and `false` are honoured, anything else is
            ignored.
          schema: { type: boolean }
        - name: is_deleted
          in: query
          description: >
            Exact match on soft-delete state. Defaults to `false` (only live
            records); set `true` to return **only** soft-deleted records, not to
            include them alongside live ones. Only the literal value `true` is
            honoured.
          schema: { type: boolean, default: false }
        - name: tool_name
          in: query
          description: Comma-separated tool names.
          schema: { type: string, example: watermark_remover }
        - name: flow_type
          in: query
          description: >
            Comma-separated flow types. Accepted values: `ai_editor`,
            `ai_canvas`, `ai_tools`, `image_generation`, `pack_generation`,
            `global`.
          schema: { type: string, example: ai_tools }
      responses:
        "200":
          description: Images returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Image" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/samples:
    get:
      tags: [My Account]
      summary: List my samples
      description: >
        Paginated uploaded samples. Allowed callers: `user`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getMySamples
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: purpose
          in: query
          description: >
            Comma-separated purposes. Accepted values: `training`, `input`.
          schema: { type: string, example: training }
        - name: profile_id
          in: query
          description: >
            Filter by training profile. A non-numeric value — or `0` — is
            ignored and the filter is not applied.
          schema: { type: integer }
        - name: upload_source
          in: query
          description: >
            Comma-separated upload sources. Accepted values: `direct`,
            `qr_upload`, `url`.
          schema: { type: string, example: direct }
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: is_deleted
          in: query
          description: >
            Exact match on soft-delete state. Defaults to `false` (only live
            records); set `true` to return **only** soft-deleted records, not to
            include them alongside live ones. Only the literal value `true` is
            honoured.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Samples returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Sample" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/me/upload:
    post:
      tags: [Media]
      summary: Upload files directly
      description: >
        Uploads 1–50 files as `multipart/form-data` for the authenticated user.
        Size limits per kind: images 40 MB, video 100 MB, audio 50 MB,
        documents 40 MB. Only images are NSFW-screened — video, audio and
        document uploads are always stored with `nsfw_checked: false`. Images
        larger than 10 MB also skip the inline check, and the check can be
        turned off per request with the `nsfw_check` field.


        A flagged image is never an HTTP error on this endpoint. It is rejected
        rather than stored, and comes back as an entry in `results` with
        `error: upload_nsfw_rejected`, counted in both `summary.failed` and
        `summary.nsfw_flagged`, inside an otherwise normal `200`. If *every*
        file fails — for any reason — the response is `500`, not `200`.


        This endpoint, together with `POST /api/v2/media/upload` (by URL), is
        the documented HTTP route for uploads. The two-step direct-to-storage
        flow the GoStudio client apps use for very large files is not part of
        this reference — see the Media section overview.


        Allowed callers: `user` only.
      operationId: uploadMyFiles
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 50
                  description: >
                    One to 50 files. The key `file` is also accepted and may be
                    mixed with `files`; entries from both keys are merged and
                    de-duplicated by name + size + content type. A request that
                    sends only `file` is valid despite `files` being listed as
                    required here.
                  items: { type: string, format: binary }
                nsfw_check:
                  type: string
                  default: "true"
                  description: >
                    Send the exact string `false` to skip the NSFW check on
                    images. This is a literal string comparison — any other
                    value (including `0`, `no`, or `False`) leaves the check
                    enabled. Ignored for non-image files and for images over
                    10 MB, which are never checked.
                purpose:
                  type: string
                  nullable: true
                  example: input
                  description: >
                    Free-form label recorded on the moderation log entry if an
                    image is rejected as NSFW. Not stored on the uploaded file.
                tool:
                  type: string
                  nullable: true
                  example: watermark_remover
                  description: >
                    Free-form label recorded on the moderation log entry if an
                    image is rejected as NSFW. Not stored on the uploaded file.
              required: [files]
      responses:
        "200":
          description: >
            At least one file was uploaded successfully. Inspect
            `summary.failed` — a `200` can still contain per-file failures. If
            *every* file fails the response is `500`, not `200` (see below).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/FileUploadResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500":
          description: >
            Either an unexpected server error, or every submitted file failed.
            In the all-failed case the body carries **both** `error` (code
            `upload_failed`, dev 50011) **and** a `data` object with the
            per-file reasons — inspect `data.results` to see why each file was
            rejected. This is returned even when the cause is entirely
            client-side: every file was oversized (`file_too_large`), an
            unsupported type (`invalid_file_type`), empty (`empty_file`), or
            NSFW-rejected (`upload_nsfw_rejected`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/FileUploadResponse" }
              example:
                status: 500
                error: { type: storage_error, code: upload_failed, dev: 50011, message: "All 1 file(s) failed. See results for details." }
                data:
                  summary: { total: 1, uploaded: 0, failed: 1, nsfw_flagged: 0 }
                  results:
                    - { file_name: "clip.mov", error: "file_too_large", message: "video files must be under 100 MB." }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/generations:
    get:
      tags: [Generations]
      summary: List generations
      description: >
        Paginated generation history for the authenticated user, with richer
        filtering than `/me/generations` — adds `model_key`, `search`, and
        `is_liked`. Note that `is_liked` additionally requires `include=images`.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so this endpoint returns no data for it —
        use `GET /api/v2/users/{userId}/generations` for service-to-service
        access.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: listGenerations
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: status
          in: query
          description: >
            Comma-separated statuses. Accepted values: `pending`, `processing`,
            `completed`, `failed`, `abandoned`.
          schema:
            type: string
            example: completed,processing
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: flow_type
          in: query
          description: >
            Comma-separated flow types. This endpoint accepts a wider set than
            `/me/*` and `/users/{userId}/*`. Accepted values: `ai_editor`,
            `ai_image`, `ai_canvas`, `ai_video`, `ai_tools`, `instant_photo`,
            `image_generation`, `pack_generation`, `global`.
          schema:
            type: string
            example: ai_tools
        - name: tool_name
          in: query
          description: Comma-separated tool names.
          schema: { type: string, example: watermark_remover }
        - name: profile_id
          in: query
          description: >
            Filter by training profile. A non-numeric value — or `0` — is
            ignored and the filter is not applied.
          schema: { type: integer }
        - name: model_key
          in: query
          description: Filter by the AI model used.
          schema: { type: string, example: replicate/pruna-image-edit }
        - name: search
          in: query
          description: Text search across prompts and tool names.
          schema: { type: string, example: headshot }
        - name: is_liked
          in: query
          description: >
            Filter on liked images. `true` returns only generations that have at
            least one liked (non-deleted) image; `false` returns only generations
            that have none. **Requires `include=images`** — sent on its own this
            parameter is silently ignored and the unfiltered list is returned.
            The filter is applied after the page has been read from the database,
            so a filtered page can contain fewer than `limit` items (possibly
            zero) and will usually report `has_more: false` with
            `next_cursor: null` even when older matching generations still exist.
            To enumerate every liked generation reliably, page **without**
            `is_liked` (passing `include=images`) and filter client-side on
            `images[].is_liked`.
          schema: { type: boolean }
        - name: include
          in: query
          description: >
            Include related records. Comma-separated. Accepted values: `images`,
            `samples`. Unlike `/me/generations` and
            `/users/{userId}/generations`, this endpoint returns both relations
            when both are supplied. Pass `images` to make `is_liked` take
            effect.
          schema: { type: string, example: "images,samples" }
      responses:
        "200":
          description: Generations returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/AppGeneration" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/generations/{id}:
    get:
      tags: [Generations]
      summary: Get a generation
      description: >
        Returns one generation with its images and samples always embedded.
        Returns `404` if the generation does not exist **or** belongs to another
        user — the response is intentionally identical in both cases so it cannot
        be used to probe for existence. Allowed callers: `user`. (An internal
        service token passes the auth gate but has no user context, so every
        lookup returns `404`.)
      operationId: getGeneration
      parameters:
        - name: id
          in: path
          required: true
          description: Generation ID (positive integer).
          schema: { type: integer, example: 12345 }
      responses:
        "200":
          description: Generation returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/AppGeneration" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover:
    post:
      tags: [Watermark Remover]
      summary: Remove a watermark
      description: >
        Submits an image for watermark removal. This is the endpoint most
        integrations should use — it validates the request, runs the generation,
        writes a generation log, and deducts credits in one call.


        **This call blocks until the image is ready.** Fast models return almost
        immediately. Slower models are polled server-side on your behalf, so the
        response still arrives as a completed `200` — but it can take up to four
        minutes, and the request is cut off at five. Set your client's HTTP
        timeout accordingly; the default in most HTTP libraries is far too short.


        You never need to poll this endpoint's result yourself, and there is no
        fire-and-forget mode — the call always holds the connection until the
        generation finishes, and the completed `200` body is returned either
        way. A `webhook_url` gets you a second copy of that same result payload
        `POST`ed to your server; it does not shorten the request.


        On the `lite` tier that webhook is delivered once, on success only. On
        the async tiers (`pro`, `advance`) it can also arrive with
        `status: "failed"` and an `error` field when the provider reports a
        failure — alongside the HTTP error response — and a completed job may be
        delivered more than once. Treat deliveries as idempotent and key them on
        `job_id`; do not assume `output_urls` are byte-identical across two
        deliveries of the same job.


        If an async job (`pro` / `advance`) is accepted by the provider and is
        later reported failed, the response is `500 internal_error`, not `502`.
        The generation is still marked failed and the credits reserved for it
        are refunded. Handle all `5xx` responses uniformly rather than matching
        on a specific status.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so it cannot submit a generation here.
      operationId: removeWatermark
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WatermarkRequest" }
            examples:
              lite:
                summary: Default model
                value:
                  image_url: https://example.com/watermarked.jpg
              tier:
                summary: Named tier with webhook
                value:
                  image_url: https://example.com/watermarked.jpg
                  model_id: pro
                  webhook_url: https://your-app.com/webhooks/gostudio
      responses:
        "200":
          description: Generation completed synchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkSyncResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /api/v2/apps/watermark-remover/info:
    get:
      tags: [Watermark Remover]
      summary: Get tool metadata
      description: >
        Returns the available models, their credit cost and tier, the default
        model, tier aliases, polling timings, and UI hints. Call this instead of
        hard-coding model IDs — the model list changes over time.


        Allowed callers: `user`, `internal`.
      operationId: getWatermarkInfo
      responses:
        "200":
          description: Tool metadata returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkInfo" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/{jobId}:
    get:
      tags: [Watermark Remover]
      summary: Poll job status
      description: >
        Looks up a watermark removal job by its `job_id`. `output_urls` and
        `credits_deducted` appear once `status` is `completed`; `error` appears
        when it is `failed`.


        You do not need this to complete a normal generation — `POST
        /api/v2/apps/watermark-remover` already waits for the result. Use it to
        re-fetch the outputs of an earlier job, or to check on one submitted by
        a request whose connection dropped.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so every lookup returns `404`.
      operationId: getWatermarkJob
      parameters:
        - name: jobId
          in: path
          required: true
          description: The `job_id` returned when the generation was submitted.
          schema: { type: integer, example: 12345 }
      responses:
        "200":
          description: Job status returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkPollResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Job not found, or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: not_found_error, code: job_not_found, dev: 40404, message: "Job not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/generate:
    post:
      tags: [Watermark Remover]
      summary: Generate only (no logging or billing)
      description: >
        Runs the model and returns the output without writing a generation log
        or deducting credits. The result never appears in
        `/api/v2/me/generations`, and it cannot be finalized through `/record` —
        that endpoint only finalizes a generation log that already exists, and
        nothing creates one for this call. Use it only when you do your own
        logging and billing outside GoStudio; most integrations should use
        `POST /api/v2/apps/watermark-remover` instead, which logs the job and
        charges credits for you.


        `webhook_url` also behaves differently here: it is registered directly
        with the upstream model provider as its own callback, so your server
        receives the provider's raw, provider-specific body rather than the
        GoStudio result payload. Synchronous models — including the default
        `lite` tier — ignore it and never call back at all.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so it cannot start a generation here.
      operationId: generateWatermarkRemoval
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WatermarkGenerateRequest" }
      responses:
        "200":
          description: Generation completed synchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkGenerateSyncResult" }
        "202":
          description: Generation accepted and running asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 202 }
                  data: { $ref: "#/components/schemas/WatermarkGenerateAsyncResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502":
          description: >
            The upstream model provider failed or was unreachable. Because this
            endpoint writes no generation log and deducts no credits, nothing is
            recorded and there is nothing to refund — just retry the call.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 502
                error: { type: provider_error, code: provider_bad_gateway, dev: 50200, message: "Generation is having trouble right now. Please try again." }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/record:
    post:
      tags: [Watermark Remover]
      summary: Record a generation result
      description: >
        Finalizes an existing generation log — stores the output URLs and marks
        the job completed, or marks it failed and refunds the credits that were
        reserved for it at submit time. Credits are deducted when the generation
        is submitted, not here; `credits_deducted` echoes the amount already
        charged. A job can only be finalized once; a second call returns
        `400 invalid_job_status`. If the log carries a `webhook_url` in its
        metadata, or you pass one here, the result is delivered to it.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so the job lookup returns `404`.
      operationId: recordWatermarkResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [generation_log_id, status]
              properties:
                generation_log_id:
                  type: integer
                  description: The log to finalize. Must belong to the caller.
                  example: 12345
                status:
                  type: string
                  enum: [completed, failed]
                output_urls:
                  type: array
                  description: Required when `status` is `completed`; must be non-empty.
                  items: { type: string, format: uri }
                error:
                  type: string
                  description: Failure reason, used when `status` is `failed`.
                webhook_url:
                  type: string
                  format: uri
                  description: HTTPS URL to deliver the result to. Overrides the log's stored webhook.
            examples:
              completed:
                summary: Mark completed
                value:
                  generation_log_id: 12345
                  status: completed
                  output_urls: ["https://r2.gostudio.ai/g/k7p2qm9x/i/p4w7t1.jpg"]
              failed:
                summary: Mark failed
                value:
                  generation_log_id: 12345
                  status: failed
                  error: Provider returned no output.
      responses:
        "200":
          description: Result recorded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkRecordResult" }
        "400":
          description: >
            Invalid body, unknown status, missing `output_urls` for a completed
            job, or the job was already finalized.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 400
                error: { type: validation_error, code: invalid_job_status, dev: 40037, message: "This job has already been finalized." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Generation log not found, or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: not_found_error, code: generation_log_not_found, dev: 40405, message: "Generation log not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/webhook:
    post:
      tags: [Webhooks]
      summary: Provider callback (internal)
      description: >
        Receives async completion callbacks from the upstream model providers
        (Replicate, Astria, Fal). **Not for your application to call** — configure
        `webhook_url` on a generation request to receive results instead.


        This endpoint is unauthenticated by design and always answers `200` with
        `{ "received": true }`, even for unparseable or unmatched payloads, so a
        provider never enters a retry storm. It does not use the standard
        response envelope.
      operationId: watermarkProviderWebhook
      security: []
      requestBody:
        required: true
        description: Provider-specific payload. The shape varies by provider.
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Acknowledged. Always returned, regardless of outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean, example: true }

  /api/v2/media/upload:
    post:
      tags: [Media]
      summary: Upload media from URLs
      description: >
        Fetches up to 20 URLs and stores them on the GoStudio CDN. Partial
        success is normal — a `200` means the batch was processed, not that every
        item succeeded, so always read `summary.failed` and inspect each result.
        If every successfully uploaded item is NSFW-flagged, the whole request
        returns `422` instead.


        `user` callers may only upload for themselves; the `user_id` in the body
        is ignored and replaced with the authenticated user's ID. `internal` and
        `external` callers may upload on behalf of any user.


        Allowed callers: `user`, `internal`, `external`.
      operationId: uploadMediaFromUrls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [urls, user_id]
              properties:
                urls:
                  type: array
                  description: 1–20 URLs to fetch and store.
                  minItems: 1
                  maxItems: 20
                  items: { type: string, format: uri }
                user_id:
                  type: string
                  format: uuid
                  description: >
                    Owner of the uploads. Required by the schema, but ignored for
                    `user` callers, who can only upload for themselves.
                nsfw_check:
                  type: boolean
                  default: true
                  description: >
                    Run the NSFW classifier on each item. Images only — video,
                    audio and document items are never screened and are always
                    returned with `nsfw_checked: false`.
                purpose:
                  type: string
                  nullable: true
                  example: input
                tool:
                  type: string
                  nullable: true
                  example: watermark_remover
            example:
              urls: ["https://example.com/a.jpg", "https://example.com/b.png"]
              user_id: 8f14e45f-ceea-467a-9f39-4c1b2a7d0e33
              nsfw_check: true
              purpose: input
      responses:
        "200":
          description: >
            Batch processed. May include per-item failures — check
            `summary.failed`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/MediaUploadResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422":
          description: Every successfully uploaded item was flagged as NSFW.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 422
                error: { type: validation_error, code: nsfw_content, dev: 42204, message: "All uploaded items were flagged as NSFW." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/users/{userId}/summary:
    get:
      tags: [Users (Admin)]
      summary: Get a user summary
      description: >
        Full profile, usage, transactions, derived segment, and an email token
        for the given user. Contains PII, including payment-processor (Dodo)
        customer IDs.


        Allowed callers: `internal`, `external` — a user token is rejected with
        `403`.
      operationId: getUserSummary
      parameters:
        - { $ref: "#/components/parameters/UserId" }
        - name: x-generation-logs-limit
          in: header
          required: false
          description: How many recent generation logs to include (default 50, max 500).
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        "200":
          description: User summary returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/UserSummary" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/users/{userId}/credit-balance:
    get:
      tags: [Users (Admin)]
      summary: Get a user's credit balance
      description: "Allowed callers: `internal`, `external`."
      operationId: getUserCreditBalance
      parameters:
        - { $ref: "#/components/parameters/UserId" }
      responses:
        "200":
          description: Credit balance returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/CreditBalance" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/users/{userId}/generations:
    get:
      tags: [Users (Admin)]
      summary: List a user's generations
      description: >
        Allowed callers: `internal`, `external`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getUserGenerations
      parameters:
        - { $ref: "#/components/parameters/UserId" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: status
          in: query
          description: >
            Comma-separated statuses. Accepted values: `pending`, `processing`,
            `completed`, `failed`, `abandoned`.
          schema:
            type: string
            example: completed,processing
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: flow_type
          in: query
          description: >
            Comma-separated flow types. Accepted values: `ai_editor`,
            `ai_canvas`, `ai_tools`, `image_generation`, `pack_generation`,
            `global`.
          schema:
            type: string
            example: ai_tools
        - name: tool_name
          in: query
          description: Comma-separated tool names.
          schema: { type: string, example: watermark_remover }
        - name: profile_id
          in: query
          description: >
            Filter by training profile. A non-numeric value — or `0` — is
            ignored and the filter is not applied.
          schema: { type: integer }
        - name: include
          in: query
          description: >
            Include related records. Comma-separated. Accepted values: `images`,
            `samples`. Only one relation is returned per request: if both are
            supplied, only `images` is returned.
          schema: { type: string, example: images }
      responses:
        "200":
          description: Generations returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Generation" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/users/{userId}/images:
    get:
      tags: [Users (Admin)]
      summary: List a user's images
      description: >
        Allowed callers: `internal`, `external`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getUserImages
      parameters:
        - { $ref: "#/components/parameters/UserId" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: is_liked
          in: query
          description: >
            Exact match on the image's liked flag. Omit for no filter; only the
            literal values `true` and `false` are honoured, anything else is
            ignored.
          schema: { type: boolean }
        - name: is_deleted
          in: query
          description: >
            Exact match on soft-delete state. Defaults to `false` (only live
            records); set `true` to return **only** soft-deleted records, not to
            include them alongside live ones. Only the literal value `true` is
            honoured.
          schema: { type: boolean, default: false }
        - name: tool_name
          in: query
          description: Comma-separated tool names.
          schema: { type: string, example: watermark_remover }
        - name: flow_type
          in: query
          description: >
            Comma-separated flow types. Accepted values: `ai_editor`,
            `ai_canvas`, `ai_tools`, `image_generation`, `pack_generation`,
            `global`.
          schema: { type: string, example: ai_tools }
      responses:
        "200":
          description: Images returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Image" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/users/{userId}/samples:
    get:
      tags: [Users (Admin)]
      summary: List a user's samples
      description: >
        Allowed callers: `internal`, `external`.


        Filter values outside the documented set are ignored rather than
        rejected; no `400` is returned. If every value supplied for a filter is
        unrecognised, that filter is not applied at all and the unfiltered list
        is returned.
      operationId: getUserSamples
      parameters:
        - { $ref: "#/components/parameters/UserId" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Sort" }
        - { $ref: "#/components/parameters/Since" }
        - { $ref: "#/components/parameters/Until" }
        - name: purpose
          in: query
          description: >
            Comma-separated purposes. Accepted values: `training`, `input`.
          schema: { type: string, example: training }
        - name: profile_id
          in: query
          description: >
            Filter by training profile. A non-numeric value — or `0` — is
            ignored and the filter is not applied.
          schema: { type: integer }
        - name: upload_source
          in: query
          description: >
            Comma-separated upload sources. Accepted values: `direct`,
            `qr_upload`, `url`.
          schema: { type: string, example: direct }
        - name: media_type
          in: query
          description: >
            Comma-separated media types. Accepted values: `image`, `video`,
            `audio`.
          schema: { type: string, example: image }
        - name: is_deleted
          in: query
          description: >
            Exact match on soft-delete state. Defaults to `false` (only live
            records); set `true` to return **only** soft-deleted records, not to
            include them alongside live ones. Only the literal value `true` is
            honoured.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Samples returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Sample" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/webhooks/revenuecat:
    post:
      tags: [Webhooks]
      summary: RevenueCat purchase webhook (internal)
      description: >
        Receives subscription and purchase events from RevenueCat and grants
        credits. **Not for your application to call.** Authorized with a shared
        RevenueCat secret in the `Authorization` header, not a GoStudio bearer
        token. Event handling is idempotent, so a replayed event does not grant
        credits twice.
      operationId: revenueCatWebhook
      security:
        - revenueCatSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: object
                  additionalProperties: true
                  description: >
                    The RevenueCat event. A payload with no `event` is
                    acknowledged with `200` and ignored.
      responses:
        "200":
          description: Event processed or acknowledged.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { type: object, nullable: true, additionalProperties: true }
        "401":
          description: Missing or invalid webhook authorization.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 401
                error: { type: authentication_error, code: webhook_invalid_signature, dev: 40102, message: "Webhook signature is invalid." }
        "500": { $ref: "#/components/responses/ServerError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Supabase user JWT (or an internal service token). Send as
        `Authorization: Bearer <token>`.
    revenueCatSecret:
      type: apiKey
      in: header
      name: Authorization
      description: >
        The shared secret configured in the RevenueCat dashboard, sent in the
        `Authorization` header either as the raw value or prefixed with
        `Bearer `. This is not a GoStudio user token.

  parameters:
    Limit:
      name: limit
      in: query
      description: >
        Page size (default 20, max 100). Non-numeric or out-of-range values are
        clamped into 1–100, not rejected.
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
    Cursor:
      name: cursor
      in: query
      description: >
        Opaque pagination cursor from a previous response's `next_cursor`. A
        cursor that cannot be decoded is ignored and the first page is returned.
      schema: { type: string }
    Sort:
      name: sort
      in: query
      description: >
        Sort order by `created_at`. Any value other than `created_at.asc` is
        treated as `created_at.desc`.
      schema:
        type: string
        enum: [created_at.asc, created_at.desc]
        default: created_at.desc
    Since:
      name: since
      in: query
      description: ISO timestamp lower bound (inclusive).
      schema: { type: string, format: date-time }
    Until:
      name: until
      in: query
      description: ISO timestamp upper bound (inclusive).
      schema: { type: string, format: date-time }
    UserId:
      name: userId
      in: path
      required: true
      description: The user's UUID.
      schema: { type: string, format: uuid }
      example: 8f14e45f-ceea-467a-9f39-4c1b2a7d0e33

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 400
            error: { type: validation_error, code: invalid_input, dev: 40001, message: "Some information is invalid." }
    Unauthorized:
      description: Missing or invalid Authorization Bearer token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 401
            error: { type: authentication_error, code: unauthorized, dev: 40100, message: "Missing or invalid Authorization Bearer token." }
    PaymentRequired:
      description: The account does not have enough credits for this request.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 402
            error: { type: billing_error, code: insufficient_credits, dev: 40200, message: "You don't have enough credits." }
    Forbidden:
      description: Caller type not allowed for this endpoint.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 403
            error: { type: permission_error, code: forbidden, dev: 40300, message: "You don't have permission for this action." }
    NotFound:
      description: Requested record not found.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 404
            error: { type: not_found_error, code: user_not_found, dev: 40400, message: "User not found." }
    UnprocessableContent:
      description: >
        The request was well-formed but the content could not be processed —
        for example the image was rejected by the model or flagged as NSFW.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 422
            error: { type: provider_error, code: content_filtered, dev: 42205, message: "We couldn't generate this image. Please try a different prompt or image." }
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 429
            error: { type: rate_limit_error, code: rate_limited, dev: 42900, message: "You're doing that too often. Please wait a moment." }
    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 500
            error: { type: system_error, code: internal_error, dev: 50000, message: "Something went wrong on our end." }
    BadGateway:
      description: >
        The upstream model provider rejected the submission, was unreachable, or
        returned an unusable response while the job was being submitted or
        checked. The generation is marked failed and the credits reserved for it
        are refunded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 502
            error: { type: provider_error, code: provider_bad_gateway, dev: 50200, message: "Generation is having trouble right now. Please try again." }
    ServiceUnavailable:
      description: >
        A dependency is temporarily unavailable. Auth-dependent endpoints return
        `service_unavailable` (dev 50300) when the auth provider is down;
        generation endpoints return `model_unavailable` (dev 50301) when the
        model provider is. Both are safe to retry with backoff.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 503
            error: { type: system_error, code: service_unavailable, dev: 50300, message: "Auth service is temporarily unavailable." }
    GatewayTimeout:
      description: >
        The upstream model provider took too long to respond, or server-side
        polling gave up after 240 seconds without a result. The generation is
        marked failed and the credits reserved for it are refunded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 504
            error: { type: provider_error, code: generation_timeout, dev: 50400, message: "The request took too long. Please try again." }

  schemas:
    ErrorResponse:
      type: object
      properties:
        status: { type: integer, example: 400 }
        error:
          type: object
          properties:
            type: { type: string, example: validation_error }
            code: { type: string, example: invalid_input }
            dev: { type: integer, example: 40001 }
            message: { type: string, example: "Some information is invalid." }

    Pagination:
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
          description: Cursor for the next page, or null if no more results.
        has_more: { type: boolean }

    CreditBalance:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        credits: { type: number, example: 42 }
        expires_at: { type: string, format: date-time, nullable: true }

    CreditHistoryRow:
      type: object
      properties:
        id: { type: integer }
        transaction_type: { type: string, enum: [purchase, deduction, debit, refund] }
        event_type:
          type: string
          enum:
            [
              user_signup,
              pack_purchase,
              addon_purchase,
              model_training,
              profile_training,
              image_generation,
              image_edit,
              free_headshot_generation,
              video_edit,
              credit_expiry,
              ambassador_redeem,
              ai_editor,
              ai_tools,
              ai_canvas,
              pack_generation,
            ]
          example: image_generation
        amount: { type: number }
        balance_after: { type: number }
        reference_id: { type: integer, nullable: true }
        reference_type: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        created_at: { type: string, format: date-time }

    Generation:
      type: object
      properties:
        id: { type: integer }
        media_type: { type: string }
        flow_type: { type: string }
        tool_name: { type: string, nullable: true }
        status: { type: string, enum: [pending, processing, completed, failed, abandoned] }
        profile_ids: { type: array, items: { type: integer }, nullable: true }
        model_key: { type: string, nullable: true }
        provider: { type: string, nullable: true }
        resolution: { type: string, nullable: true }
        output_format: { type: string, nullable: true }
        prompt_used: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        images:
          type: array
          description: >
            Present only when `include=images`. Soft-deleted images are omitted.
            This nested shape is smaller than the standalone `Image` returned by
            the image list endpoints — it never carries a nested `generation`
            block.
          items: { $ref: "#/components/schemas/EmbeddedImage" }
        samples:
          type: array
          description: >
            Present only when `include=samples`. Soft-deleted samples are
            omitted.
          items: { $ref: "#/components/schemas/Sample" }

    AppGeneration:
      allOf:
        - { $ref: "#/components/schemas/Generation" }
        - type: object
          properties:
            user_prompt:
              type: string
              nullable: true
              description: >
                The prompt exactly as the user typed it, before any internal
                rewriting. Compare with `prompt_used`, which is what was sent to
                the model.

    Image:
      type: object
      properties:
        id: { type: integer }
        uri: { type: string }
        media_type: { type: string }
        mime_type: { type: string, nullable: true }
        is_liked: { type: boolean }
        is_disliked: { type: boolean }
        is_edited: { type: boolean }
        is_custom: { type: boolean }
        bonus_images:
          type: boolean
          description: >
            True when the image was granted as a bonus / promo / gift by an
            admin. Defaults to `false`.
        config: { type: object, additionalProperties: true, nullable: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        created_at: { type: string, format: date-time }
        generation:
          type: object
          nullable: true
          properties:
            tool_name: { type: string, nullable: true }
            flow_type: { type: string }
            media_type: { type: string }

    EmbeddedImage:
      type: object
      description: >
        An image as returned inside a generation's `images` array
        (`include=images`). Unlike the standalone `Image` returned by the image
        list endpoints, it never carries a nested `generation` block — the parent
        generation is the enclosing object.
      properties:
        id: { type: integer }
        uri: { type: string }
        media_type: { type: string }
        mime_type: { type: string, nullable: true }
        is_liked: { type: boolean }
        is_disliked: { type: boolean }
        is_edited: { type: boolean }
        is_custom:
          type: boolean
          description: >
            Returned only by `/api/v2/generations` and
            `/api/v2/generations/{id}`. Omitted from the embedded images of
            `/api/v2/me/generations` and `/api/v2/users/{userId}/generations`.
        bonus_images:
          type: boolean
          description: >
            True when the image was granted as a bonus / promo / gift by an
            admin. Defaults to `false`.
        config: { type: object, additionalProperties: true, nullable: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        created_at: { type: string, format: date-time }

    Sample:
      type: object
      properties:
        id: { type: integer }
        uri: { type: string }
        media_type: { type: string }
        mime_type: { type: string, nullable: true }
        profile_id: { type: integer, nullable: true }
        upload_source: { type: string, enum: [direct, qr_upload, url] }
        purpose: { type: string, enum: [training, input] }
        config: { type: object, additionalProperties: true, nullable: true }
        created_at: { type: string, format: date-time }

    WatermarkRequest:
      type: object
      required: [image_url]
      properties:
        image_url:
          type: string
          format: uri
          description: >
            Publicly accessible `http`/`https` URL of the watermarked image. The
            API fetches it server-side, so it must not sit behind authentication
            or a firewall.
          example: https://example.com/watermarked.jpg
        model_id:
          type: string
          description: >
            Model to run. Accepts either a full model ID or one of the friendly
            tier aliases `lite`, `pro`, `advance`. Defaults to
            `dewatermark/watermark-remover-pro` (the `lite` tier). Cost per run:
            `lite` 4 credits, `pro` 4 credits, `advance` 10 credits. Call
            `/info` for the authoritative figures rather than hard-coding these
            — both the model list and the pricing can change.
          default: dewatermark/watermark-remover-pro
          example: pro
        prompt:
          type: string
          description: >
            Optional guidance. Ignored by models whose `requires_prompt` is
            `false` in the info response.
        webhook_url:
          type: string
          format: uri
          description: >
            HTTPS URL to receive the result when the generation finishes. Must
            be HTTPS; an `http://` URL is rejected with
            `400 invalid_webhook_url`. Delivery is best-effort and
            fire-and-forget: the `POST` is sent once and never retried, the
            response status is ignored, and there is no signature header. If a
            delivery is missed, reconcile with
            `GET /api/v2/apps/watermark-remover/{jobId}`.
          example: https://your-app.com/webhooks/gostudio

    WatermarkGenerateRequest:
      allOf:
        - $ref: "#/components/schemas/WatermarkRequest"
        - type: object
          properties:
            webhook_url:
              type: string
              format: uri
              description: >
                Behaves differently here than on
                `POST /api/v2/apps/watermark-remover`. This URL is registered
                directly with the upstream model provider as its own callback,
                so what your server receives is the provider's raw,
                provider-specific body (Replicate / Astria / Fal) with
                provider-hosted output URLs — not the GoStudio result payload,
                and not GoStudio CDN URLs. It is also ignored entirely by
                synchronous models, including the default
                `dewatermark/watermark-remover-pro` (`lite`), which return their
                output in the `200` response and never call back at all. Use
                `POST /api/v2/apps/watermark-remover` if you want the documented
                result payload delivered to your endpoint.
              example: https://your-app.com/webhooks/gostudio

    WatermarkSyncResult:
      type: object
      properties:
        job_id: { type: integer, example: 12345 }
        status: { type: string, enum: [completed] }
        model_id: { type: string, example: dewatermark/watermark-remover-pro }
        output_urls:
          type: array
          description: CDN URLs for the cleaned images, usable immediately.
          items: { type: string, format: uri }
        credits_deducted: { type: number, example: 4 }
        credit_balance:
          type: number
          description: Remaining balance after this request.
          example: 38

    WatermarkPollResult:
      type: object
      properties:
        job_id: { type: integer }
        status:
          type: string
          enum: [pending, processing, completed, failed, abandoned]
        model_id: { type: string }
        output_urls:
          type: array
          description: Present once the job has completed.
          items: { type: string, format: uri }
        credits_deducted:
          type: number
          description: Present once the job has completed.
        error:
          type: string
          description: Present only when the job failed.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    WatermarkGenerateSyncResult:
      type: object
      properties:
        kind: { type: string, enum: [sync] }
        model_id: { type: string }
        output_urls:
          type: array
          description: >
            Stored GoStudio CDN URLs — the sync tier's provider output is
            mirrored to GoStudio storage before it is returned, exactly as on
            the orchestrated endpoint.
          items: { type: string, format: uri }

    WatermarkGenerateAsyncResult:
      type: object
      properties:
        kind: { type: string, enum: [async] }
        model_id: { type: string }
        provider_job_id:
          type: string
          description: >
            The upstream provider's own job identifier. It is not a GoStudio
            `job_id` and cannot be polled with
            `GET /api/v2/apps/watermark-remover/{jobId}`, which needs a
            generation-log ID — and this endpoint writes no log. The provider
            callback is the only way to collect an async result here.
        status: { type: string, enum: [processing] }

    WatermarkRecordResult:
      type: object
      properties:
        generation_log_id: { type: integer }
        status: { type: string, enum: [completed, failed] }
        credits_deducted:
          type: number
          description: >
            The credits already charged for this job when it was submitted, not
            a charge made by this call. Always `0` when `status` is `failed`.
        credit_balance:
          type: number
          description: >
            Always `0` on this endpoint — it does not read your account balance.
            Call `GET /api/v2/me/credit-balance` for the real figure.
          example: 0
        output_urls:
          type: array
          description: Stored CDN URLs. Present on success.
          items: { type: string, format: uri }

    WatermarkInfo:
      type: object
      properties:
        tool:
          type: object
          properties:
            id: { type: string, example: watermark-remover }
            name: { type: string }
            flow_type: { type: string, example: ai_tools }
            cta_label: { type: string }
            result_label: { type: string }
            input:
              type: object
              nullable: true
              properties:
                kind: { type: string }
                accept: { type: string }
                max_mb: { type: number }
            output:
              type: object
              nullable: true
              properties:
                kind: { type: string }
        default_model: { type: string, example: dewatermark/watermark-remover-pro }
        tiers:
          type: object
          description: Friendly tier alias to model ID.
          additionalProperties: { type: string }
          example:
            lite: dewatermark/watermark-remover-pro
            pro: replicate/pruna-image-edit
            advance: astria/seedream-5-pro
        models:
          type: array
          items: { $ref: "#/components/schemas/WatermarkModelInfo" }
        polling:
          type: object
          description: Recommended client polling behaviour for async jobs.
          properties:
            interval_ms: { type: integer, example: 3000 }
            timeout_ms: { type: integer, example: 240000 }
        prompt:
          type: object
          nullable: true
          properties:
            label: { type: string }
            placeholder: { type: string }
            optional: { type: boolean }
            suggestions: { type: array, items: { type: string } }

    WatermarkModelInfo:
      type: object
      properties:
        id: { type: string }
        display_name: { type: string }
        description: { type: string, nullable: true }
        tier: { type: string, nullable: true, example: lite }
        provider: { type: string, example: dewatermark }
        return_mode:
          type: string
          description: Whether this model returns synchronously or asynchronously.
        requires_prompt: { type: boolean }
        pricing:
          type: object
          properties:
            type: { type: string, example: flat }
            credits: { type: number, example: 4 }
        aspect_ratios: { type: array, nullable: true, items: { type: string } }
        resolutions: { type: array, nullable: true, items: { type: string } }
        defaults: { type: object, additionalProperties: true, nullable: true }
        async_timers:
          type: object
          nullable: true
          description: UI hints for how long to wait before reassuring or offering cancel.
          properties:
            still_working_copy_at_ms: { type: integer }
            cancel_retry_button_at_ms: { type: integer }

    MediaUploadSummary:
      type: object
      properties:
        total: { type: integer }
        uploaded: { type: integer }
        failed: { type: integer }
        nsfw_flagged:
          type: integer
          description: >
            Meaning depends on the endpoint. On `POST /api/v2/media/upload` a
            flagged item is still stored, so this is a subset of `uploaded`. On
            `POST /api/v2/me/upload` a flagged image is rejected and never
            stored, so this is a subset of `failed`.

    MediaUploadResponse:
      type: object
      properties:
        results:
          type: array
          description: One entry per input URL, successes and failures mixed.
          items:
            oneOf:
              - $ref: "#/components/schemas/MediaUploadResult"
              - $ref: "#/components/schemas/MediaUploadError"
        summary: { $ref: "#/components/schemas/MediaUploadSummary" }

    MediaUploadResult:
      type: object
      description: >
        A successfully uploaded item. `cdn_url` is always present and is what
        distinguishes this from a `MediaUploadError`.
      required: [cdn_url]
      properties:
        source_url: { type: string, format: uri }
        cdn_url: { type: string, format: uri }
        raw_url: { type: string, format: uri }
        media_type: { type: string, enum: [image, video, audio, document] }
        content_type: { type: string, example: image/jpeg }
        nsfw_checked:
          type: boolean
          description: >
            True only when the item is an image and `nsfw_check` was enabled.
        nsfw_flagged:
          type: boolean
          description: >
            `true` when the classifier flagged this item. The file is stored
            anyway and is still counted in `summary.uploaded`. If every
            successfully uploaded item in the batch is flagged, the request
            returns `422 nsfw_content` instead and no results are returned.

    MediaUploadError:
      type: object
      description: >
        An item that could not be uploaded. `error` is always present and is
        what distinguishes this from a `MediaUploadResult`.
      required: [error]
      properties:
        source_url: { type: string, format: uri }
        error:
          type: string
          description: >
            Per-item failure reason inside `results[]` — distinct from the
            top-level envelope error codes.
          enum: [storage_fetch_failed, invalid_file_type, upload_failed]
          example: storage_fetch_failed
        message: { type: string }

    FileUploadResponse:
      type: object
      properties:
        summary: { $ref: "#/components/schemas/MediaUploadSummary" }
        results:
          type: array
          description: One entry per submitted file, successes and failures mixed.
          items:
            oneOf:
              - $ref: "#/components/schemas/FileUploadResult"
              - $ref: "#/components/schemas/FileUploadError"

    FileUploadResult:
      type: object
      description: >
        A successfully uploaded file. `cdn_url` is always present and is what
        distinguishes this from a `FileUploadError`.
      required: [cdn_url]
      properties:
        file_name: { type: string }
        cdn_url: { type: string, format: uri }
        raw_url: { type: string, format: uri }
        media_type: { type: string }
        content_type: { type: string }
        size: { type: integer, description: Size in bytes. }
        nsfw_checked:
          type: boolean
          description: >
            True only when the item is an image, `nsfw_check` was enabled, and
            the file is 10 MB or smaller.
        nsfw_flagged:
          type: boolean
          example: false
          description: >
            Always `false` on this endpoint. An image that fails the NSFW check
            is returned as a `FileUploadError` with
            `error: upload_nsfw_rejected` and counted in `summary.failed`,
            never as a result.

    FileUploadError:
      type: object
      description: >
        A file that could not be uploaded. `error` is always present and is what
        distinguishes this from a `FileUploadResult`.
      required: [error]
      properties:
        file_name: { type: string }
        error:
          type: string
          description: >
            Per-item failure reason inside `results[]` — distinct from the
            top-level envelope error codes.
          enum:
            [
              empty_file,
              invalid_file_type,
              file_too_large,
              upload_nsfw_rejected,
              upload_failed,
            ]
          example: file_too_large
        message: { type: string }

    MeProfile:
      type: object
      properties:
        user:
          type: object
          properties:
            user_id: { type: string, format: uuid }
            email: { type: string, nullable: true }
            first_name: { type: string, nullable: true }
            phone: { type: string, nullable: true }
            country: { type: string, nullable: true }
            timezone: { type: string, nullable: true }
            email_unsubscribed: { type: boolean }
            created_at: { type: string, format: date-time }
        is_paid_user: { type: boolean }
        usage:
          type: object
          properties:
            trained_models_count: { type: integer }
            ai_tool_runs_count: { type: integer }
            images_generated_count: { type: integer }
            tools_used:
              type: array
              items:
                type: object
                properties:
                  tool: { type: string }
                  count: { type: integer }
            generation_types:
              type: array
              items:
                type: object
                properties:
                  type: { type: string }
                  count: { type: integer }
            by_flow_type:
              type: array
              items:
                type: object
                properties:
                  flow_type: { type: string }
                  count: { type: integer }
            by_tool:
              type: array
              items:
                type: object
                properties:
                  tool_name: { type: string }
                  count: { type: integer }
            last_used_at: { type: string, format: date-time, nullable: true }
            last_generation_at: { type: string, format: date-time, nullable: true }
            recent_generations:
              type: array
              items:
                type: object
                properties:
                  tool_name: { type: string, nullable: true }
                  prompt: { type: string }
                  created_at: { type: string, format: date-time }
        transactions:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              product: { type: string, nullable: true }
              currency: { type: string }
              status: { type: string }
              plan_type: { type: string, nullable: true }
              created_at: { type: string, format: date-time }
        derived_segment:
          type: string
          enum: [model_training_user, paying_user, active_free_user, new_user]

    UserSummary:
      allOf:
        - { $ref: "#/components/schemas/MeProfile" }
        - type: object
          properties:
            user:
              type: object
              description: >
                Same as the `/me/profile` user object, plus `dodo_customer_id`,
                which is returned only by this admin endpoint.
              properties:
                user_id: { type: string, format: uuid }
                email: { type: string, nullable: true }
                first_name: { type: string, nullable: true }
                phone: { type: string, nullable: true }
                country: { type: string, nullable: true }
                timezone: { type: string, nullable: true }
                email_unsubscribed: { type: boolean }
                dodo_customer_id:
                  type: array
                  items: { type: string }
                  description: >
                    Payment-processor (Dodo) customer IDs for this user. Empty
                    array if the user has never transacted. Returned only by
                    this endpoint.
                created_at: { type: string, format: date-time }
            email_token:
              type: string
              nullable: true
              description: Signed token for unsubscribe and email-preference links.
