openapi: 3.0.3
info:
  title: GoStudio API
  version: "2.0.0"
  description: >
    The GoStudio v2 REST API. Every response uses a standard envelope:
    successes return `{ status, data }`; errors return
    `{ status, error: { type, code, message } }`.


    All endpoints require a **Bearer token** in the `Authorization` header.
    The one exception is the provider webhook callback, which is authenticated
    by signature.

servers:
  - url: https://www.gostudio.ai
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Watermark Remover
    description: AI watermark removal — orchestration, model metadata, and job polling.
  - name: Photo
    description: AI photo generation — generate, recreate, and manage trained profile photos.
  - name: Image
    description: Image utilities — group photo composition and image-to-prompt analysis.
  - name: Media
    description: Media upload and CDN management.
  - name: Apps
    description: GoStudio application tools — age modifier and other transformations.
  - name: Job Status
    description: Generic job polling — works across all GoStudio tools.
  - name: Webhooks
    description: Endpoints called by external services, not by your application.

paths:
  /api/v2/apps/watermark-remover:
    post:
      tags: [Watermark Remover]
      summary: Remove a watermark
      description: >
        Submits an image for watermark removal. This is the endpoint most
        integrations should use — it validates the request, runs the generation,
        writes a generation log, and deducts credits in one call.


        **This call blocks until the image is ready.** Fast models return almost
        immediately. Slower models are polled server-side on your behalf, so the
        response still arrives as a completed `200` — but it can take up to four
        minutes, and the request is cut off at five. Set your client's HTTP
        timeout accordingly; the default in most HTTP libraries is far too short.


        You never need to poll this endpoint's result yourself, and there is no
        fire-and-forget mode — the call always holds the connection until the
        generation finishes, and the completed `200` body is returned either
        way. A `webhook_url` gets you a second copy of that same result payload
        `POST`ed to your server; it does not shorten the request.


        On the `lite` tier that webhook is delivered once, on success only. On
        the async tiers (`pro`, `advance`) it can also arrive with
        `status: "failed"` and an `error` field when the provider reports a
        failure — alongside the HTTP error response — and a completed job may be
        delivered more than once. Treat deliveries as idempotent and key them on
        `job_id`; do not assume `output_urls` are byte-identical across two
        deliveries of the same job.


        If an async job (`pro` / `advance`) is accepted by the provider and is
        later reported failed, the response is `500 internal_error`, not `502`.
        The generation is still marked failed and the credits reserved for it
        are refunded. Handle all `5xx` responses uniformly rather than matching
        on a specific status.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so it cannot submit a generation here.
      operationId: removeWatermark
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WatermarkRequest" }
            examples:
              lite:
                summary: Default model
                value:
                  image_url: https://example.com/watermarked.jpg
              tier:
                summary: Named tier with webhook
                value:
                  image_url: https://example.com/watermarked.jpg
                  model_id: pro
                  webhook_url: https://your-app.com/webhooks/gostudio
      responses:
        "200":
          description: Generation completed synchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkSyncResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableContent" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502": { $ref: "#/components/responses/BadGateway" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /api/v2/apps/watermark-remover/info:
    get:
      tags: [Watermark Remover]
      summary: Get tool metadata
      description: >
        Returns the available models, their credit cost and tier, the default
        model, tier aliases, polling timings, and UI hints. Call this instead of
        hard-coding model IDs — the model list changes over time.


        Allowed callers: `user`, `internal`.
      operationId: getWatermarkInfo
      responses:
        "200":
          description: Tool metadata returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkInfo" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/{jobId}:
    get:
      tags: [Watermark Remover]
      summary: Poll job status
      description: >
        Looks up a watermark removal job by its `job_id`. `output_urls` and
        `credits_deducted` appear once `status` is `completed`; `error` appears
        when it is `failed`.


        You do not need this to complete a normal generation — `POST
        /api/v2/apps/watermark-remover` already waits for the result. Use it to
        re-fetch the outputs of an earlier job, or to check on one submitted by
        a request whose connection dropped.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so every lookup returns `404`.
      operationId: getWatermarkJob
      parameters:
        - name: jobId
          in: path
          required: true
          description: The `job_id` returned when the generation was submitted.
          schema: { type: integer, example: 12345 }
      responses:
        "200":
          description: Job status returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkPollResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Job not found, or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: not_found_error, code: job_not_found, dev: 40404, message: "Job not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/watermark-remover/record:
    post:
      tags: [Watermark Remover]
      summary: Record a generation result
      description: >
        Finalizes an existing generation log — stores the output URLs and marks
        the job completed, or marks it failed and refunds the credits that were
        reserved for it at submit time. Credits are deducted when the generation
        is submitted, not here; `credits_deducted` echoes the amount already
        charged. A job can only be finalized once; a second call returns
        `400 invalid_job_status`. If the log carries a `webhook_url` in its
        metadata, or you pass one here, the result is delivered to it.


        Allowed callers: `user`. An internal service token passes the auth gate
        but carries no user context, so the job lookup returns `404`.
      operationId: recordWatermarkResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [generation_log_id, status]
              properties:
                generation_log_id:
                  type: integer
                  description: The log to finalize. Must belong to the caller.
                  example: 12345
                status:
                  type: string
                  enum: [completed, failed]
                output_urls:
                  type: array
                  description: Required when `status` is `completed`; must be non-empty.
                  items: { type: string, format: uri }
                error:
                  type: string
                  description: Failure reason, used when `status` is `failed`.
                webhook_url:
                  type: string
                  format: uri
                  description: HTTPS URL to deliver the result to. Overrides the log's stored webhook.
            examples:
              completed:
                summary: Mark completed
                value:
                  generation_log_id: 12345
                  status: completed
                  output_urls: ["https://r2.gostudio.ai/g/k7p2qm9x/i/p4w7t1.jpg"]
              failed:
                summary: Mark failed
                value:
                  generation_log_id: 12345
                  status: failed
                  error: Provider returned no output.
      responses:
        "200":
          description: Result recorded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/WatermarkRecordResult" }
        "400":
          description: >
            Invalid body, unknown status, missing `output_urls` for a completed
            job, or the job was already finalized.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 400
                error: { type: validation_error, code: invalid_job_status, dev: 40037, message: "This job has already been finalized." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Generation log not found, or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: not_found_error, code: generation_log_not_found, dev: 40405, message: "Generation log not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v2/apps/job/{job_id}:
    get:
      tags: [Job Status]
      summary: Get job status
      description: >
        Returns the current status and results of a generation job by its
        encoded ID. Works across all GoStudio tools — watermark remover,
        photo generation, photo recreation, group photo, age modifier, and
        others.


        Use the `job_id` value returned by the generation endpoint that
        created the job — photo endpoints (`/api/v2/photo/*` and
        `/api/v2/image/group-photo`) return an encoded string `job_id`
        that is used here directly. Do not construct or guess this value.


        `output_urls` is only present once `status` is `completed`.
        `error` is only present when `status` is `failed` or `abandoned`.


        **Ownership:** `user` callers can only retrieve jobs they own. Other
        caller types may access any job.


        Allowed callers: `user`, `internal`, `external`.
      operationId: getJobStatus
      parameters:
        - name: job_id
          in: path
          required: true
          description: UUID-encoded job identifier returned by the generation endpoint.
          schema: { type: string, example: "5a3f1e7d-9b4c-1a51-0b36-c893429659b5" }
      responses:
        "200":
          description: Job status returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/JobStatusResult" }
        "400":
          description: The job_id is not a valid encoded job identifier.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 400
                error: { type: validation_error, code: invalid_input, dev: 40001, message: "jobId is not a valid encoded job identifier." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Job not found, or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: not_found_error, code: job_not_found, dev: 40404, message: "Job not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/apps/watermark-remover/webhook:
    post:
      tags: [Webhooks]
      summary: Provider callback (internal)
      description: >
        Receives async completion callbacks from the upstream model providers
        (Replicate, Astria, Fal). **Not for your application to call** — configure
        `webhook_url` on a generation request to receive results instead.


        This endpoint is unauthenticated by design and always answers `200` with
        `{ "received": true }`, even for unparseable or unmatched payloads, so a
        provider never enters a retry storm. It does not use the standard
        response envelope.
      operationId: watermarkProviderWebhook
      security: []
      requestBody:
        required: true
        description: Provider-specific payload. The shape varies by provider.
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Acknowledged. Always returned, regardless of outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean, example: true }

  /api/v2/photo/generate:
    post:
      tags: [Photo]
      summary: Generate a photo from a text prompt
      description: >
        Generates one or more photos from a text prompt. Optionally locks
        identity to one or more trained profiles by including their IDs.


        The call blocks until generation completes and returns the finished
        image URLs in the response. Credits are deducted before generation
        begins and refunded if the job fails.


        If `profile_ids` are provided, any invalid or inactive profiles are
        silently filtered. If all provided profiles are invalid, the request
        returns `trained_profile_not_found`.
      operationId: generatePhoto
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PhotoGenerateRequest" }
            examples:
              basic:
                summary: Simple prompt
                value:
                  prompt: "A professional headshot in a modern office"
              with_profiles:
                summary: With profile identity lock
                value:
                  prompt: "A professional headshot in a modern office"
                  profile_ids: [42]
                  num_output_images: 2
                  aspect_ratio: "3:4"
      responses:
        "200":
          description: Generation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/GenerationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: One or more profile IDs are invalid or inaccessible.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: trained_profile_not_found, code: 40403, message: "Trained profile not found." }
        "409":
          description: One or more profiles exist but are not yet ready for generation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 409
                error: { type: trained_profile_not_ready, code: 40901, message: "Trained profile is not ready." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/photo/recreate:
    post:
      tags: [Photo]
      summary: Recreate a photo using a reference image
      description: >
        Recreates a photo by combining an input image with a reference style
        or scene image. Optionally locks identity to one or more trained
        profiles.


        Both `input_image_url` and `reference_image_url` are required. The
        call blocks until generation completes. Credits are deducted before
        generation begins and refunded if the job fails.


        If `profile_ids` are provided and all are invalid, the request
        returns `trained_profile_not_found`.
      operationId: recreatePhoto
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PhotoRecreateRequest" }
            examples:
              basic:
                summary: Basic recreation
                value:
                  input_image_url: "https://example.com/photo.jpg"
                  reference_image_url: "https://example.com/reference.jpg"
              with_instructions:
                summary: With instructions and profile
                value:
                  input_image_url: "https://example.com/photo.jpg"
                  reference_image_url: "https://example.com/reference.jpg"
                  instructions: "Make it look more professional"
                  profile_ids: [42]
      responses:
        "200":
          description: Recreation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/GenerationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: One or more profile IDs are invalid or inaccessible.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: trained_profile_not_found, code: 40403, message: "Trained profile not found." }
        "409":
          description: One or more profiles exist but are not yet ready for generation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 409
                error: { type: trained_profile_not_ready, code: 40901, message: "Trained profile is not ready." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/photo/recreate-group:
    post:
      tags: [Photo]
      summary: Recreate a group photo using trained profiles
      description: >
        Generates a group photo by placing 2–10 trained profiles into a scene
        derived from a reference image. The aspect ratio is auto-detected from
        the reference image; an explicit `aspect_ratio` parameter overrides it.


        At least 2 valid, ready profiles must be provided. If fewer than 2
        pass validation, the request returns `trained_profile_not_found`.
        Credits are deducted before generation begins and refunded if the
        job fails.
      operationId: recreateGroupPhoto
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PhotoRecreateGroupRequest" }
            examples:
              basic:
                summary: Three-person group photo
                value:
                  reference_image_url: "https://example.com/group-scene.jpg"
                  profile_ids: [42, 43, 44]
                  aspect_ratio: "16:9"
      responses:
        "200":
          description: Group photo generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/GroupGenerationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404":
          description: Fewer than 2 valid ready profiles found.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: trained_profile_not_found, code: 40403, message: "Trained profile not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502": { $ref: "#/components/responses/BadGateway" }

  /api/v2/photo/profiles:
    get:
      tags: [Photo]
      summary: List trained profiles
      description: >
        Returns all ready trained profiles for the authenticated user, ordered
        newest first. Only profiles with `status: ready` are included.
      operationId: listPhotoProfiles
      responses:
        "200":
          description: Profiles returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data:
                    type: object
                    properties:
                      profiles:
                        type: array
                        items: { $ref: "#/components/schemas/PhotoProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/image/group-photo:
    post:
      tags: [Image]
      summary: Swap faces into a group scene
      description: >
        Inserts 2–20 people from input images into a reference group scene.
        The scene prompt is auto-generated from the reference image; an
        optional `prompt` field overrides it entirely.


        The call blocks until generation completes. Credits are deducted
        before generation begins and refunded if the job fails.
      operationId: createGroupPhoto
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GroupPhotoRequest" }
            examples:
              basic:
                summary: Two-person group swap
                value:
                  input_image_urls:
                    - "https://example.com/person1.jpg"
                    - "https://example.com/person2.jpg"
                  reference_image_url: "https://example.com/office-scene.jpg"
                  genders: ["male", "female"]
                  aspect_ratio: "16:9"
      responses:
        "200":
          description: Group photo generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/GenerationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502": { $ref: "#/components/responses/BadGateway" }

  /api/v2/image-to-prompt:
    post:
      tags: [Image]
      summary: Analyze an image and generate a text prompt
      description: >
        Analyzes an image and returns a descriptive text prompt suitable for
        use in generation endpoints.


        Two modes are supported:

        - `standalone`: produces a single `<image1>` reference tag prompt.

        - `reference`: produces per-person `<imageN>` tags using gender and
          count hints, suitable for multi-person scene prompts.


        No credits are deducted; this is a utility endpoint.
      operationId: imageToPrompt
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ImageToPromptRequest" }
            examples:
              standalone:
                summary: Standalone mode
                value:
                  image_url: "https://example.com/landscape.jpg"
                  prompt_mode: "standalone"
              reference:
                summary: Reference mode (multi-person)
                value:
                  image_url: "https://example.com/group-photo.jpg"
                  prompt_mode: "reference"
                  reference_info:
                    num_persons: 2
                    genders: ["male", "female"]
      responses:
        "200":
          description: Prompt generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  prompt:
                    type: string
                    description: Generated text prompt describing the image.
                    example: >-
                      Two professionals, <image1> male and <image2> female,
                      standing in a modern glass office lobby with city views
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }
        "502": { $ref: "#/components/responses/BadGateway" }

  /api/v2/media/upload:
    post:
      tags: [Media]
      summary: Upload media files to CDN
      description: >
        Uploads one or more media files to the GoStudio CDN. Accepts HTTPS
        URLs, data URIs (`data:image/png;base64,...`), raw base64 strings
        (requires `mime_type`), or binary multipart uploads.


        Returns a result per item. The overall request returns `200` even if
        some items fail — check `summary.failed` and the per-item `error`
        field. Returns `422` only when **every** item in the batch is
        NSFW-flagged. Accepts up to 20 items per request.
      operationId: uploadMedia
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UploadRequest" }
            examples:
              url:
                summary: Upload by HTTPS URL
                value:
                  urls: ["https://example.com/photo.jpg"]
                  nsfw_check: true
                  purpose: "group-photo-input"
              data_uri:
                summary: Upload via data URI
                value:
                  urls: ["data:image/png;base64,iVBORw0KGgo..."]
                  mime_type: "image/png"
          multipart/form-data:
            schema:
              type: object
              properties:
                nsfw_check:
                  type: string
                  description: Run NSFW classifier. `"true"` (default) or `"false"`.
                  example: "true"
                purpose:
                  type: string
                  description: Label for the upload batch.
      responses:
        "200":
          description: >
            Upload processed. Check `summary.failed` and per-item `error`
            fields for partial failures.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/UploadResult" }
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total items submitted.
                        example: 2
                      uploaded:
                        type: integer
                        description: Successfully uploaded items.
                        example: 2
                      failed:
                        type: integer
                        description: Failed items.
                        example: 0
                      nsfw_flagged:
                        type: integer
                        description: NSFW-flagged items.
                        example: 0
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "415":
          description: One or more files have an unsupported media type.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 415
                error: { type: invalid_file_type, code: 41500, message: "Unsupported file type." }
        "422":
          description: Every item in the batch was flagged as NSFW.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 422
                error: { type: nsfw_content, code: 42293, message: "All uploaded images were flagged as NSFW." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/apps/age-modifier:
    post:
      tags: [Apps]
      summary: Modify a person's apparent age in a photo
      description: >
        Modifies the apparent age of a person in a photo to the specified
        `target_age`. The model is chosen automatically based on `target_age`
        and `age_mode`.


        The call blocks until processing completes (up to ~4 minutes) and
        returns the finished image URLs directly. Credits are deducted before
        generation begins and refunded if the job fails.


        If `webhook_url` is provided, the result is also POSTed to that URL
        after generation completes (fire-and-forget, no retries). Must be HTTPS.
      operationId: runAgeModifier
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgeModifierRequest" }
            examples:
              basic:
                summary: Age to 65
                value:
                  image_url: "https://example.com/portrait.jpg"
                  target_age: 65
                  gender: "female"
              with_webhook:
                summary: With webhook
                value:
                  image_url: "https://example.com/portrait.jpg"
                  target_age: 10
                  gender: "male"
                  webhook_url: "https://myapp.example.com/webhooks/age-modifier"
      responses:
        "200":
          description: Age modification completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/AgeModifierJobResult" }
        "400":
          description: Missing or invalid request fields.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                missing_field:
                  summary: Missing required field
                  value:
                    status: 400
                    error: { type: missing_required_field, code: 40011, message: "image_url is required." }
                invalid_url:
                  summary: Invalid image URL
                  value:
                    status: 400
                    error: { type: invalid_input, code: 40012, message: "image_url must be a valid HTTPS URL." }
                invalid_webhook:
                  summary: Invalid webhook URL
                  value:
                    status: 400
                    error: { type: invalid_input, code: 40012, message: "webhook_url must be HTTPS." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

  /api/v2/apps/age-modifier/{jobId}:
    get:
      tags: [Apps]
      summary: Poll age-modifier job status
      description: >
        Returns the current status of an age-modifier job by its ID.
        `output_urls` and `credits_deducted` appear only when `status` is
        `completed`; `error` appears only when `status` is `failed`.


        Since `POST /api/v2/apps/age-modifier` already waits for the result,
        use this endpoint to re-fetch outputs of an earlier job, or to check
        on one whose connection dropped.
      operationId: getAgeModifierJob
      parameters:
        - name: jobId
          in: path
          required: true
          description: Positive integer job ID returned by POST /api/v2/apps/age-modifier.
          schema: { type: integer, example: 12345 }
      responses:
        "200":
          description: Job status returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: integer, example: 200 }
                  data: { $ref: "#/components/schemas/AgeModifierJobResult" }
        "400":
          description: jobId is not a positive integer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 400
                error: { type: invalid_input, code: 40012, message: "jobId must be a positive integer." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Job not found or not owned by the authenticated user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                status: 404
                error: { type: job_not_found, code: 40404, message: "Job not found." }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/ServerError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Supabase user JWT (or an internal service token). Send as
        `Authorization: Bearer <token>`.

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 400
            error: { type: validation_error, code: invalid_input, dev: 40001, message: "Some information is invalid." }

    Unauthorized:
      description: Missing or invalid Authorization Bearer token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 401
            error: { type: authentication_error, code: unauthorized, dev: 40100, message: "Missing or invalid Authorization Bearer token." }

    PaymentRequired:
      description: The account does not have enough credits for this request.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 402
            error: { type: billing_error, code: insufficient_credits, dev: 40200, message: "You don't have enough credits." }

    Forbidden:
      description: Caller type not allowed for this endpoint.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 403
            error: { type: permission_error, code: forbidden, dev: 40300, message: "You don't have permission for this action." }

    UnprocessableContent:
      description: >
        The request was well-formed but the content could not be processed —
        for example the image was rejected by the model or flagged as NSFW.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 422
            error: { type: provider_error, code: content_filtered, dev: 42205, message: "We couldn't generate this image. Please try a different prompt or image." }

    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 429
            error: { type: rate_limit_error, code: rate_limited, dev: 42900, message: "You're doing that too often. Please wait a moment." }

    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 500
            error: { type: system_error, code: internal_error, dev: 50000, message: "Something went wrong on our end." }

    BadGateway:
      description: >
        The upstream model provider rejected the submission, was unreachable, or
        returned an unusable response while the job was being submitted or
        checked. The generation is marked failed and the credits reserved for it
        are refunded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 502
            error: { type: provider_error, code: provider_bad_gateway, dev: 50200, message: "Generation is having trouble right now. Please try again." }

    ServiceUnavailable:
      description: >
        A dependency is temporarily unavailable. Auth-dependent endpoints return
        `service_unavailable` (dev 50300) when the auth provider is down;
        generation endpoints return `model_unavailable` (dev 50301) when the
        model provider is. Both are safe to retry with backoff.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 503
            error: { type: system_error, code: service_unavailable, dev: 50300, message: "Auth service is temporarily unavailable." }

    GatewayTimeout:
      description: >
        The upstream model provider took too long to respond, or server-side
        polling gave up after 240 seconds without a result. The generation is
        marked failed and the credits reserved for it are refunded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            status: 504
            error: { type: provider_error, code: generation_timeout, dev: 50400, message: "The request took too long. Please try again." }

  schemas:
    ErrorResponse:
      type: object
      properties:
        status: { type: integer, example: 400 }
        error:
          type: object
          properties:
            type: { type: string, example: validation_error }
            code: { type: string, example: invalid_input }
            dev: { type: integer, example: 40001 }
            message: { type: string, example: "Some information is invalid." }

    JobStatusResult:
      type: object
      properties:
        job_id:
          type: string
          description: UUID-encoded job identifier.
          example: "5a3f1e7d-9b4c-1a51-0b36-c893429659b5"
        status:
          type: string
          enum: [pending, processing, completed, failed, abandoned]
          description: >
            Current state of the job. `output_urls` is populated only when
            `completed`; `error` is populated only when `failed` or
            `abandoned`.
        tool_name:
          type: string
          description: The GoStudio tool that created this job.
          example: watermark_remover
        output_urls:
          type: array
          description: CDN URLs for the finished images. Present only when `status` is `completed`.
          items: { type: string, format: uri }
        error:
          type: string
          description: Sanitized failure reason. Present only when `status` is `failed` or `abandoned`.
        created_at:
          type: string
          format: date-time
          description: When the job was created.
        updated_at:
          type: string
          format: date-time
          description: When the job was last updated.

    WatermarkRequest:
      type: object
      required: [image_url]
      properties:
        image_url:
          type: string
          format: uri
          description: >
            Publicly accessible `http`/`https` URL of the watermarked image. The
            API fetches it server-side, so it must not sit behind authentication
            or a firewall.
          example: https://example.com/watermarked.jpg
        model_id:
          type: string
          description: >
            Model to run. Accepts either a full model ID or one of the friendly
            tier aliases `lite`, `pro`, `advance`. Defaults to
            `dewatermark/watermark-remover-pro` (the `lite` tier). Cost per run:
            `lite` 4 credits, `pro` 4 credits, `advance` 10 credits. Call
            `/info` for the authoritative figures rather than hard-coding these
            — both the model list and the pricing can change.
          default: dewatermark/watermark-remover-pro
          example: pro
        prompt:
          type: string
          description: >
            Optional guidance. Ignored by models whose `requires_prompt` is
            `false` in the info response.
        webhook_url:
          type: string
          format: uri
          description: >
            HTTPS URL to receive the result when the generation finishes. Must
            be HTTPS; an `http://` URL is rejected with
            `400 invalid_webhook_url`. Delivery is best-effort and
            fire-and-forget: the `POST` is sent once and never retried, the
            response status is ignored, and there is no signature header. If a
            delivery is missed, reconcile with
            `GET /api/v2/apps/watermark-remover/{jobId}`.
          example: https://your-app.com/webhooks/gostudio

    WatermarkSyncResult:
      type: object
      properties:
        job_id: { type: integer, example: 12345 }
        status: { type: string, enum: [completed] }
        model_id: { type: string, example: dewatermark/watermark-remover-pro }
        output_urls:
          type: array
          description: CDN URLs for the cleaned images, usable immediately.
          items: { type: string, format: uri }
        credits_deducted: { type: number, example: 4 }
        credit_balance:
          type: number
          description: Remaining balance after this request.
          example: 38

    WatermarkPollResult:
      type: object
      properties:
        job_id: { type: integer }
        status:
          type: string
          enum: [pending, processing, completed, failed, abandoned]
        model_id: { type: string }
        output_urls:
          type: array
          description: Present once the job has completed.
          items: { type: string, format: uri }
        credits_deducted:
          type: number
          description: Present once the job has completed.
        error:
          type: string
          description: Present only when the job failed.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    WatermarkGenerateSyncResult:
      type: object
      properties:
        kind: { type: string, enum: [sync] }
        model_id: { type: string }
        output_urls:
          type: array
          description: >
            Stored GoStudio CDN URLs — the sync tier's provider output is
            mirrored to GoStudio storage before it is returned, exactly as on
            the orchestrated endpoint.
          items: { type: string, format: uri }

    WatermarkGenerateAsyncResult:
      type: object
      properties:
        kind: { type: string, enum: [async] }
        model_id: { type: string }
        provider_job_id:
          type: string
          description: >
            The upstream provider's own job identifier. It is not a GoStudio
            `job_id` and cannot be polled with
            `GET /api/v2/apps/watermark-remover/{jobId}`, which needs a
            generation-log ID — and this endpoint writes no log. The provider
            callback is the only way to collect an async result here.
        status: { type: string, enum: [processing] }

    WatermarkRecordResult:
      type: object
      properties:
        generation_log_id: { type: integer }
        status: { type: string, enum: [completed, failed] }
        credits_deducted:
          type: number
          description: >
            The credits already charged for this job when it was submitted, not
            a charge made by this call. Always `0` when `status` is `failed`.
        credit_balance:
          type: number
          description: >
            Always `0` on this endpoint — it does not read your account balance.
            Call `GET /api/v2/me/credit-balance` for the real figure.
          example: 0
        output_urls:
          type: array
          description: Stored CDN URLs. Present on success.
          items: { type: string, format: uri }

    WatermarkInfo:
      type: object
      properties:
        tool:
          type: object
          properties:
            id: { type: string, example: watermark-remover }
            name: { type: string }
            flow_type: { type: string, example: ai_tools }
            cta_label: { type: string }
            result_label: { type: string }
            input:
              type: object
              nullable: true
              properties:
                kind: { type: string }
                accept: { type: string }
                max_mb: { type: number }
            output:
              type: object
              nullable: true
              properties:
                kind: { type: string }
        default_model: { type: string, example: dewatermark/watermark-remover-pro }
        tiers:
          type: object
          description: Friendly tier alias to model ID.
          additionalProperties: { type: string }
          example:
            lite: dewatermark/watermark-remover-pro
            pro: replicate/pruna-image-edit
            advance: astria/seedream-5-pro
        models:
          type: array
          items: { $ref: "#/components/schemas/WatermarkModelInfo" }
        polling:
          type: object
          description: Recommended client polling behaviour for async jobs.
          properties:
            interval_ms: { type: integer, example: 3000 }
            timeout_ms: { type: integer, example: 240000 }
        prompt:
          type: object
          nullable: true
          properties:
            label: { type: string }
            placeholder: { type: string }
            optional: { type: boolean }
            suggestions: { type: array, items: { type: string } }

    WatermarkModelInfo:
      type: object
      properties:
        id: { type: string }
        display_name: { type: string }
        description: { type: string, nullable: true }
        tier: { type: string, nullable: true, example: lite }
        provider: { type: string, example: dewatermark }
        return_mode:
          type: string
          description: Whether this model returns synchronously or asynchronously.
        requires_prompt: { type: boolean }
        pricing:
          type: object
          properties:
            type: { type: string, example: flat }
            credits: { type: number, example: 4 }
        aspect_ratios: { type: array, nullable: true, items: { type: string } }
        resolutions: { type: array, nullable: true, items: { type: string } }
        defaults: { type: object, additionalProperties: true, nullable: true }
        async_timers:
          type: object
          nullable: true
          description: UI hints for how long to wait before reassuring or offering cancel.
          properties:
            still_working_copy_at_ms: { type: integer }
            cancel_retry_button_at_ms: { type: integer }

    GenerationResult:
      type: object
      properties:
        kind:
          type: string
          description: Always "generation".
          example: generation
        job_id:
          type: string
          description: >
            Encoded job identifier. Use with
            `GET /api/v2/apps/job/{job_id}` to poll status or re-fetch results.
          example: enc_abc123
        credits_deducted:
          type: integer
          description: Credits spent on this generation.
          example: 10
        credit_balance:
          type: integer
          description: Remaining credit balance after this request.
          example: 490
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the job was created.
        output_urls:
          type: array
          description: CDN URLs for the generated images.
          items: { type: string, format: uri }

    GroupGenerationResult:
      allOf:
        - $ref: "#/components/schemas/GenerationResult"
        - type: object
          properties:
            profile_ids:
              type: array
              description: Profile IDs used in the generation.
              items: { type: integer }
              example: [42, 43, 44]

    PhotoProfile:
      type: object
      properties:
        id:
          type: integer
          description: Profile ID.
          example: 42
        name:
          type: string
          description: Profile display name.
          example: Alex Johnson
        gender:
          type: string
          enum: [male, female, other]
          description: Profile gender.
        cover_url:
          type: string
          format: uri
          description: Cover image URL.
          example: "https://cdn.gostudio.ai/profiles/cover/42.jpg"
        status:
          type: string
          description: Always "ready" for profiles returned by this endpoint.
          example: ready
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the profile was created.

    PhotoGenerateRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          description: Text prompt for generation.
          minLength: 1
          example: "A professional headshot in a modern office"
        profile_ids:
          type: array
          description: IDs of trained profiles to lock identity to.
          items: { type: integer }
          default: []
          example: [42]
        num_output_images:
          type: integer
          description: Number of images to generate.
          default: 1
          minimum: 1
          maximum: 4
        aspect_ratio:
          type: string
          description: Output aspect ratio.
          enum: ["1:1", "3:4", "4:3", "9:16", "16:9"]
          default: "3:4"
        resolution:
          type: string
          description: Output resolution.
          enum: ["1K", "2K", "4K"]
          default: "1K"
        output_format:
          type: string
          description: Output image format.
          enum: [png, jpg]
          default: png

    PhotoRecreateRequest:
      type: object
      required: [input_image_url, reference_image_url]
      properties:
        input_image_url:
          type: string
          format: uri
          description: HTTPS URL of the image to recreate.
          example: "https://example.com/photo.jpg"
        reference_image_url:
          type: string
          format: uri
          description: HTTPS URL of the reference style or scene image.
          example: "https://example.com/reference.jpg"
        instructions:
          type: string
          description: Additional instructions for the recreation.
          example: "Make it look more professional"
        profile_ids:
          type: array
          description: IDs of trained profiles for identity lock.
          items: { type: integer }
          default: []
        num_output_images:
          type: integer
          description: Number of images to generate.
          default: 1
          minimum: 1
          maximum: 4
        output_format:
          type: string
          description: Output image format.
          enum: [png, jpg]
          default: png

    PhotoRecreateGroupRequest:
      type: object
      required: [reference_image_url, profile_ids]
      properties:
        reference_image_url:
          type: string
          format: uri
          description: HTTPS URL of the reference group scene image.
          example: "https://example.com/group-scene.jpg"
        profile_ids:
          type: array
          description: IDs of trained profiles for group members. Minimum 2, maximum 10.
          items: { type: integer }
          minItems: 2
          maxItems: 10
          example: [42, 43, 44]
        num_output_images:
          type: integer
          description: Number of images to generate.
          default: 1
          minimum: 1
          maximum: 4
        aspect_ratio:
          type: string
          description: Output aspect ratio. Auto-detected from the reference image if omitted.
          enum: ["1:1", "3:4", "4:3", "9:16", "16:9"]
          example: "16:9"
        resolution:
          type: string
          description: Output resolution.
          enum: ["1K", "2K", "4K"]
          default: "1K"
        output_format:
          type: string
          description: Output image format.
          enum: [png, jpg]
          default: png
        instructions:
          type: string
          description: Additional generation instructions.

    GroupPhotoRequest:
      type: object
      required: [input_image_urls, reference_image_url]
      properties:
        input_image_urls:
          type: array
          description: HTTPS URLs of the source face images. 2–20 items.
          items: { type: string, format: uri }
          minItems: 2
          maxItems: 20
          example: ["https://example.com/person1.jpg", "https://example.com/person2.jpg"]
        reference_image_url:
          type: string
          format: uri
          description: HTTPS URL of the target scene or background image.
          example: "https://example.com/office-scene.jpg"
        genders:
          type: array
          description: Gender hint per input image, in order.
          items:
            type: string
            enum: [male, female, pets, others]
          example: ["male", "female"]
        instructions:
          type: string
          description: Additional instructions for the scene composition.
        prompt:
          type: string
          description: Override the auto-generated scene prompt.
        num_output_images:
          type: integer
          description: Number of output images.
          default: 1
          minimum: 1
          maximum: 4
        aspect_ratio:
          type: string
          description: Output aspect ratio. Auto-detected from the reference image if omitted.
          enum: [auto, "1:1", "3:4", "4:3", "9:16", "16:9"]
        resolution:
          type: string
          description: Output resolution.
          enum: [low, medium, high]
          default: low
        output_format:
          type: string
          description: Output image format.
          enum: [png, jpg]
          default: png

    ImageToPromptRequest:
      type: object
      required: [image_url, prompt_mode]
      properties:
        image_url:
          type: string
          format: uri
          description: HTTPS URL of the image to analyze.
          example: "https://example.com/photo.jpg"
        prompt_mode:
          type: string
          description: >
            Analysis mode. `standalone` produces a single `<image1>` reference
            tag. `reference` produces per-person `<imageN>` tags using gender
            and count hints.
          enum: [standalone, reference]
        reference_info:
          type: object
          description: Required when `prompt_mode` is `reference`.
          properties:
            num_persons:
              type: integer
              description: Number of people in the scene.
              minimum: 1
              example: 2
            genders:
              type: array
              description: >
                Gender per person. Length must equal `num_persons`.
                Use `null` for unknown.
              items:
                type: string
                enum: [male, female, pets, others]
                nullable: true
              example: ["male", "female"]

    UploadRequest:
      type: object
      required: [urls]
      properties:
        urls:
          type: array
          description: >
            Items to upload. Each can be an HTTPS URL, a data URI
            (`data:mime;base64,...`), or a raw base64 string (requires
            `mime_type`). Maximum 20 items.
          items: { type: string }
          minItems: 1
          maxItems: 20
          example: ["https://example.com/photo.jpg"]
        nsfw_check:
          type: boolean
          description: Run NSFW classifier on images.
          default: true
        purpose:
          type: string
          description: Label for the upload batch.
          example: group-photo-input
        tool:
          type: string
          description: Tool name that triggered this upload.
          example: group-photo
        mime_type:
          type: string
          description: MIME type hint, required when `urls` contains raw base64 strings.
          example: image/png

    UploadResult:
      type: object
      properties:
        source_url:
          type: string
          description: The original URL or identifier submitted.
        cdn_url:
          type: string
          format: uri
          nullable: true
          description: GoStudio CDN URL for the uploaded file.
        raw_url:
          type: string
          format: uri
          nullable: true
          description: Raw storage URL for the uploaded file.
        media_type:
          type: string
          enum: [image, video, audio, document]
          nullable: true
          description: Detected media type.
        content_type:
          type: string
          nullable: true
          description: MIME type of the uploaded file.
        nsfw_checked:
          type: boolean
          description: Whether the NSFW classifier ran on this item.
        nsfw_flagged:
          type: boolean
          description: Whether this item was flagged as NSFW.
        error:
          type: string
          nullable: true
          description: Error code if this item failed. Present only on failure.
        message:
          type: string
          nullable: true
          description: Error detail. Present only on failure.

    AgeModifierRequest:
      type: object
      required: [image_url]
      properties:
        image_url:
          type: string
          format: uri
          description: HTTPS URL of the input photo. Also accepted as `input_image_url`.
          example: "https://example.com/portrait.jpg"
        target_age:
          type: integer
          description: Desired apparent age in years.
          default: 30
          minimum: 1
          maximum: 100
          example: 65
        gender:
          type: string
          description: Subject gender hint.
          enum: [none, male, female, other]
          default: none
        age_mode:
          type: string
          description: >
            Age modification strategy. The model is chosen automatically
            based on this field and `target_age`.
          enum: [selected_age, age_progression]
          default: selected_age
        webhook_url:
          type: string
          format: uri
          description: >
            HTTPS URL to receive the result after generation completes.
            Delivery is fire-and-forget — sent once, never retried.
          example: "https://myapp.example.com/webhooks/age-modifier"

    AgeModifierJobResult:
      type: object
      properties:
        job_id:
          type: integer
          description: Numeric job ID.
          example: 12345
        status:
          type: string
          enum: [processing, completed, failed]
          description: >
            Current state of the job. `output_urls` and `credits_deducted`
            are present only when `completed`; `error` is present only when
            `failed`.
        output_urls:
          type: array
          description: CDN URLs for the generated images. Present when `status` is `completed`.
          items: { type: string, format: uri }
          nullable: true
        credits_deducted:
          type: integer
          description: Credits spent. Present when `status` is `completed`.
          nullable: true
          example: 10
        credit_balance:
          type: integer
          description: Remaining credit balance. Present when `status` is `completed`.
          nullable: true
          example: 490
        error:
          type: string
          description: Failure reason. Present when `status` is `failed`.
          nullable: true
        created_at:
          type: string
          format: date-time
          description: When the job was created.
        updated_at:
          type: string
          format: date-time
          description: When the job was last updated.
